.card {
    background: #fff;
    border-radius: 2px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:#ffff;
  }
  .card > .img-container > img {
    /*width: 60%*/
    width: 180px;
    height: 180px;
  }

  /*.card > .img-container > img{
    width: 230px;
    height: 230px;
  }*/